#contact-us-response {
  display: none;
  font-size: 0.65rem;
}

form {
  width: 99%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  background-color: floralwhite;
  border: 1px solid grey;
  border-radius: 0.6rem;
  box-shadow: 0.6rem 0.6rem 0.6rem lightgrey;
  box-sizing: border-box;
}

fieldset label {
  display: block;
  width: 10%;
  margin: 1rem 0.17rem 0.17rem 1.2rem;
  font-weight: bold;
}

fieldset input, fieldset textarea, #send-msg-btn-div {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

fieldset label, fieldset input {
  height: 1.5rem;
}

fieldset textarea {
  height: 8rem;
}

.required::after {
  content: "*";
  color: red;
}

label.error {
  width: 10%;
  margin: 1rem 0.17rem 0.17rem 1.2rem;
  font-weight: bold;
  font-style: italic;
  color: red;
}

div.error {
  width: 75%;
  margin: 0.17rem 0 0.17rem 1.2rem;
  font-weight: normal;
  font-size: 0.8rem;
  font-style: italic;
  color: red;
}

#send-msg-btn-div {
  margin-top: 0.33rem;
}

#send-msg-btn {
  display: inline-block;
  margin: 0.66rem 3px 0 0;
}

#reset-form-btn {
  display: inline-block;
  width: 4rem;
  height: 2rem;
  margin: 0.66rem 0 0 3px;
  padding: 0.3rem;
  color: white;
  background-color: red;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0.17rem 0.17rem 0.17rem grey;
  box-sizing: border-box;
}

#reset-form-btn:active {
  background-color: gray;
  border-color: lightgrey;
  border-style: inset;
}

#contact-disclaimer {
  font-weight: bold;
  font-style: italic;
  color: red;
}
