#contact-us-response {
  display: none;
  font-size: 0.65rem;
}

form {
  width: 99%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  margin-bottom: 2.5rem;
  background-color: floralwhite;
  border: 1px solid grey;
  border-radius: 0.6rem;
  box-shadow: 0.6rem 0.6rem 0.6rem lightgrey;
  box-sizing: border-box;
}

fieldset label {
  display: block;
  width: 85%;
  margin: 1rem 0.17rem 0.17rem 1.2rem;
  font-weight: bold;
}

#create-password-lbl {
  margin-top: 3rem;
}

fieldset input, fieldset textarea, #age-verification-div {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#age-verification-div {
  margin-top: 1.5rem;
}

fieldset label, fieldset input {
  height: 1.5rem;
}

fieldset textarea {
  height: 8rem;
}

#age-verification-ckbx, #age-verification-lbl {
  display: inline-block;
}

#age-verification-ckbx {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -0.17rem;
}

#age-verification-lbl {
  margin-left: 0.33rem;
  font-weight: normal;
}

.required::after {
  content: "*";
  color: red;
}

label.error {
  width: 80%;
  margin: 1rem 0.17rem 0.17rem 1.2rem;
  font-weight: bold;
  font-style: italic;
  color: red;
}

div.error {
  width: 75%;
  margin: 0.17rem 0 0.17rem 1.2rem;
  font-weight: normal;
  font-size: 0.8rem;
  font-style: italic;
  color: red;
}

#send-msg-btn-div, #login-btn-div, #register-btn-div {
  display: block;
  width: 95%;
  margin: 1.32rem auto;
}

#send-msg-btn, #login-btn, #register-btn {
  display: inline-block;
  box-sizing: border-box;
}

#send-msg-btn, #login-btn {
  margin: 0.66rem 5.6rem 0 0;
}

#register-btn {
  margin: 0.66rem 3.5rem 0 0;
}

#register-link-div, #login-link-div {
  width: 95%;
  margin: 1.67rem 0;
}

#reset-form-btn, #reset-register-form-btn {
  display: inline-block;
  width: 6rem;
  height: 2.5rem;
  margin-top: 0.66rem;
  padding: 0.3rem;
  color: white;
  background-color: red;
  font-weight: bold;
  font-size: larger;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0.17rem 0.17rem 0.17rem grey;
  box-sizing: border-box;
}

#reset-form-btn:active, #reset-register-form-btn:active {
  background-color: gray;
  border-color: lightgrey;
  border-style: inset;
}

#contact-disclaimer {
  font-weight: bold;
  font-style: italic;
  color: red;
}
