* {
  box-sizing: border-box;
}

p.game-description {
  width: auto;
  height: auto;
  margin: 1.33rem auto;
  padding: 0;
  font-size: 1.2rem;
}

p.game-description, #math-facts-select-lbl, .game-select-div {
  text-align: center;
}

#math-facts-select-lbl {
  display: block;
  width: auto;
  height: auto;
  margin: 2.8rem auto 1.33rem auto;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: cursive;
  color: rgb(224, 18, 128); /* hot pink, but actual hot pink, not the bubble gum pink material calls "hotpink" */
}

.game-select-div {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0.67rem;
  padding: 0.33rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#math-facts-select {
  min-width: 10.22rem;
  height: 2.5rem;
  margin: 0 0.67rem 0.67rem 0;
  padding: 0 1.33rem;
  border: 1px solid gray;
  border-radius: 0.3rem;
  box-shadow: 0.17rem 0.17rem 0.17rem grey;
}

.game-rules-list-div {
  width: 45%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

