/* Global Styles, Homepage Styles */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

header {
  position: relative;
}

img#logo {
  width: 4rem;
  height: auto;
  margin-top: 0.3rem;
  margin-left: 1rem;
  padding: 0;
  float: left;
}

/* psuedo-element to maintain logo positioning */
div#nav-div::after {
  content: " ";
  clear: both;
  display: block;
}

ul#top-nav {
  min-width: 453px;
  float: right;
  clear: left;
  position: absolute;
  right: 1rem;
  font-size: larger;
  font-weight: bold;
}

ul#top-nav, ul#games-sub-nav, #social-media-list {
  list-style: none;
}

ul#top-nav li, ul#social-media-list li {
  display: inline-block;
}

#top-nav li {
  margin: 0 0 0 0.3rem;
  padding: 0 0 0 0.3rem;
}

ul#games-sub-nav li {
  /* display: block; */
  display: none;
}

#header-rule {
  width: 100%;
  margin: 0.3rem 0;
}

#header-rule, #footer-rule {
  border: 0.12rem solid darkgray;
}

main {
  margin: 0.3rem 1rem 1rem;
}

cite {
  font-size: smaller;
}

button[name="play"] {
  width: 4rem;
  height: 2rem;
  padding: 0.3rem;
  color: white;
  background-color: green;
  font-weight: bold;
  border: none;
  box-sizing: border-box;
}

#footer-div {
  font-size: smaller;
}

#footer-rule {
  width: 100%;
  margin: 0.5rem 0 0.3rem;
  padding: 0;
}

#copyright-design, #social-media-list {
  font-size: smaller;
}

#copyright-design {
  margin: 0.3rem 0.3rem 0.3rem 1rem;
  float: left;
}

#social-media-list {
  margin: 0 1rem 0 0.3rem;
  float: right;
}

.dot-separator {
  margin: 0 0.3rem;
  font-weight: bold;
  font-size: 1rem;
}